<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('home')} ? 'nav-link active' : 'nav-link'">-->
            <li class="nav-item" th:class="${activePage == 'showClientPage'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/showClientPage}">Show Clients</a>
            </li>
            <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('contact')} ? 'nav-link active' : 'nav-link'">-->
            <li class="nav-item" th:class="${activePage == 'addClientPage'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/addClientPage}">Add Client</a>
            </li>
            <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('contact')} ? 'nav-link active' : 'nav-link'">-->
            <li class="nav-item" th:class="${activePage == 'deleteClientPage'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/deleteClientPage}">Delete Client</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'addContractPage'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/addContractPage}">Add Contract</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>