<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show clients</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<style>
    .navbar-dark .navbar-nav .nav-link {
            color: black;
        }

        .navbar-dark .navbar-nav .nav-link:hover {
            color: #1c87c9;
        }

        .navbar-dark .navbar-nav .nav-item.active .nav-link {
            background-color: #1c87c9;
        }
</style>

</head>
<body>
<div th:replace="~{fragments/navigation :: header}"> </div>
<main role="main" class="flex-shrink-0">

    <label> this is where you show every client gae</label>


</main>
</body>
</html>