.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    background-color: #1c87c9;
    border-radius: 50px;
}